@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap');

/* Fonts */
$font-family: 'Titillium Web';

/* Measures */
$container_width: 1200px;

/* Colors */
$headandfoot: #000000;
$background: #ffffff;
$secondary: #FED9C9 ;
$highlight: #AF7627;


//COLOR MODS FOR RESPONSIVE DESIGN
$bg-red: #c66;
$bg-yellow: #fc6;
$bg-green: #9c9;
$bg-blue: #699;


//BREAKPOINTS
$large: 1300px;
$tablet: 980px;
$mobile: 580px;