@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap');

/* Fonts */
$font-family: 'Titillium Web';

/* Measures */
$container_width: 1200px;

/* Colors */
$headandfoot: #000000;
$background: #ffffff;
$secondary: #FED9C9 ;
$highlight: #AF7627;