@import '../../../Assets/SCSS/mixins.scss';
main{
    display: grid;
    grid-template-columns: auto;
    padding-bottom: 7vw;
    h1{
        // text-align: center;
        margin-left: 2%;
        padding-bottom: 1%;
    }
    
    #ForSaleArticle{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2%;
        width: 90%;
        margin: auto;
        .card{
            display: grid;
            grid-template-columns: 1fr;
            width: 90%;
            margin-inline: 5%;
            border: 1px solid #707070;
            padding: 1vw;
            img{
                width: 100%;
            }
            figcaption{
                display: grid;
                grid-template-rows: 1fr 1fr;
                gap: 1vw;
                .AddressInfo{
                    display: flex;
                    flex-direction: column;
                }
                .EconomyInfo{
                    display: grid;
                    grid-template-columns: 2fr 1fr;
                    div{
                        display: flex;
                        position: relative;
                        @include BorderRadiusButtons;
                        width: 110%;
                        height: 40%;
                        p{  
                            &:first-child{
                                position: absolute;
                                width: 5%;
                                left: 0;
                                top: -.2vw;
                            }
                            &:last-child{
                                margin-left: 1.5vw;
                            }
                        }
                        .A, .B{
                            @include TinyPadding;
                            background-color: #14C451;
                        }
                        .C, .D, .E{
                            @include TinyPadding;
                            background-color: #f3f306;
                        }
                        .F, .G, .H{
                            @include TinyPadding;
                            background-color: #c41414;
                        }
                    }
                    p{
                        display: flex;
                        justify-content: flex-end;
                    }
                }
            }
        }
    }
}