@import '../../../Assets/SCSS/mixins.scss';
@import '../../../Assets/SCSS/vars.scss';
main{
    display: grid;
    grid-template-columns: auto;
    padding-bottom: 7vw;
    h1{
        // text-align: center;
        margin-left: 2%;
        padding-bottom: 1%;
    }
    
    #ForSaleArticle{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2%;
        width: 90%;
        margin: auto;
        .card{
            display: grid;
            grid-template-columns: 1fr;
            width: 90%;
            margin-inline: 5%;
            border: 1px solid #707070;
            padding: 1vw;
            @include BorderRadiusButtons;
            a{
                img{
                    width: 100%;
                }
            }
            figcaption{
                display: grid;
                grid-template-rows: 1fr 1fr;
                gap: 1vw;
                .AddressInfo{
                    display: flex;
                    flex-direction: column;
                }
                .EconomyInfo{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 5%;
                    .EconomyWrapper{
                        display: flex;
                        div{
                            width: 1.5vw;
                            height: 1.5vw;
                            display: flex;
                            justify-content: center;

                            p{  
                                padding-top: 6%;
                                
                            }
                        }
                        .A, .B{
                            // @include TinyPadding;
                            background-color: #14C451;
                        }
                        .C, .D, .E{
                            // @include TinyPadding;
                            background-color: #f3f306;
                        }
                        .F, .G, .H{
                            // @include TinyPadding;
                            background-color: #ea2727c4;
                        }
                        p{
                        &:first-of-type {
                                margin-top: 1%;
                                margin-left: 1%;
                            }
                        }
                    }
                    p{
                        display: flex;
                        justify-content: flex-end;
                        
                    }
                }
            }
        }
    }
}


@media screen and (max-width: $large) {
    body{
      #ForSaleArticle{
        display: grid;
        grid-template-columns: 1fr 1fr;
        .card{
            figcaption{
                .EconomyInfo{
                    .EconomyWrapper{
                        div{
                            height: 2vw;
                            width: 2vw;
                        }
                    }
                }
            }
        }
      }
    }
  }
@media screen and (max-width: $tablet) {
  body{
    #ForSaleArticle{
        .card{
            padding: 4%;
            figcaption{
                .EconomyInfo{
                    display: grid;
                    grid-template-columns: 2fr 1fr;
                    .EconomyWrapper{
                        div{
                            height: 3vw;
                            width: 3vw;
                        }
                    }
                }
            }
        }
    }
  }
}
@media screen and (max-width: $mobile){
    body{
        #ForSaleArticle{
            grid-template-columns: 1fr;
            gap: 1%;
            //sidste figure indgår ikke i main? 
            margin-bottom: 70vw;
            .card{
                figcaption{
                    .EconomyInfo{
                        .EconomyWrapper{
                            div{
                                height: 4vw;
                                width: 4vw;
                            }
                        }
                    }
                }
            }
        }
    }
}