@import '../../../Assets/SCSS/vars.scss';

footer{
    position: sticky;
    bottom: 0;
    background-color: $headandfoot;
    display: grid;
    grid-template-columns: 2fr 1fr ;
    gap: 5%;
    color: $background;
    padding-inline: 5%;
    padding-bottom: 1%;
    #FooterContact{
        display: grid;
        grid-template-columns: 1fr 0.5fr 1fr;
        gap: 5%;
        margin-top: 3%;
        img{
            width: 80%;
        }
        div{
            display: grid;
            grid-template-rows: 1fr 1fr;
            gap:0;
            p{
                font-size: 1.2rem;
                &:last-of-type{
                    margin-bottom: 5%;
                }
            }
            a{
                color: $background;
                font-size: 1.2rem;
            }
            &:last-child{
                margin-left: -1vw;
            }
        }
 
    }
    #FooterSocialMedia{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 80%;
        margin-top: 3%;
        a{
            display: flex;
            justify-content: flex-end;     
            width: 100%;
            padding: 9%;
            img{
                width: 100%;
            }
        }
    }
}