@import '../../../Assets/SCSS/vars.scss';
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

footer{
    font-family: 'Odibee Sans', cursive;
    position: sticky;
    bottom: 0;
    background-color: $headandfoot;
    display: grid;
    grid-template-columns: 2fr 1fr ;
    gap: 5%;
    color: $background;
    padding-inline: 5%;
    padding-bottom: 1%;
    z-index: 50;
    #FooterContact{
        display: grid;
        grid-template-columns: 1fr 0.5fr 1fr;
        gap: 5%;
        margin-top: 3%;
        img{
            width: 80%;
        }
        div{
            display: grid;
            grid-template-rows: 1fr 1fr;
            gap:0;
            p{
                font-size: 1.2rem;
                &:last-of-type{
                    margin-bottom: 5%;
                }
            }
            a{
                color: $background;
                font-size: 1.2rem;
            }
            &:last-child{
                margin-left: -1vw;
            }
        }
 
    }
    #FooterSocialMedia{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 80%;
        margin-top: 3%;
        a{
            display: flex;
            justify-content: flex-end;     
            width: 100%;
            padding: 9%;
            img{
                width: 100%;
            }
        }
    }
}

//BREAKPOINTS
$x-large: 1300px;
$large: 1300px;
$tablet: 980px;
$mobile: 580px;


@media screen and (max-width: $large) {
    body{
      footer{
        height: 8vw;
        display: grid;
        grid-template-columns: 3fr 1fr;
        padding-bottom: 9%;
        gap: 0;
        padding-bottom: 1%;
        #FooterContact{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            img{
                width: 25%;
            }
        }
        #FooterSocialMedia{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2%;
            margin-left: 50%;
            a{
                // padding-right: 1%;
                img{
                    width: 5vw;
                }
            }
        }
      }
    }
  }
@media screen and (max-width: $tablet) {
  body{
    footer {
            height: 9vw;
        }
    }
}
@media screen and (max-width: $mobile){
    body{
    background-color: $bg-green;
    footer{
        height: 20vw;
        display: grid;
        grid-template-columns: 2fr .5fr;
        gap: 0;
        padding-inline: 1%;
        #FooterContact{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 4%;
            img{
                width: 20vw;
                align-self: center;
            }
            div{
                p, a{
                    font-size: 1rem;
                }
            }
        }
        #FooterSocialMedia{
            margin-left: 25%;
            a{
                img{
                    width: 7vw;
                }
            }
        }
    }
    }
}