@import '../../../Assets/SCSS/mixins.scss';
@import '../../../Assets/SCSS/vars.scss';

main{
 position: relative;
 width: 100%;
    .Carousel{
        position: absolute;
        top: -5.5vw;
        left: 0;
        width: 99.1vw;
        height: 30vw;
        z-index: -30;
        .css-1m9128y{
            display: none;
        }
        button{
            display: none;
        }
    }
    .ImageWrapper{
        height: 30vw;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            object-fit: cover;
        }
    }
    
#cardSection{
    position: absolute;
    top: 17vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3%;
    width: 90%;
    margin: auto;
    margin-bottom: 50vw;
    
    .Cards{
        background-color: rgba(255, 255, 255, 0.85);
        margin-left: 5%;
        padding: 5%;
        z-index: 4;
        border: 1px solid #918e8e42;
        @include BorderRadiusButtons;
        height: 25vw;
        &:hover{
            background-color: #ffffff80;
            border: 1px solid #ffffff80;
        }
        &:last-of-type{
            figcaption{
                padding-top: 2.5%;
            }
        }
        img{
            width: 100%;
        }
    }
}
#ReadyForComments{
    margin-top: 50vw;
    text-align: center;
    position: relative;
    h2{
        font-size: 2rem;
        margin-bottom: 3%;
    }
   .svgImg {
        position: absolute;
        width: 2vw;
        height: 2vw;
    &.l-a {
        left: 0;
    }
    &.r-a {
        left: 92%;
    }
       
   }
   .CommentCarousel {
       .Slide {
           display: none;
       }
   }
}

#Employee{
    margin-left: -4.5vw;
    padding-top: 1%;
    h2{
        text-align: center;
        font-size: 1.4rem;
        margin-bottom: 1%;
    }
    
   #EmployeeCardContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3%;
    width: 80%;
    margin: auto;
    
    
    .EmployeeCard{
        padding-inline: 2%;
        border: 1px solid #70707050;
        @include BorderRadiusButtons;
        img{
            object-fit: scale-down;
            width: 100%;
        }
        figcaption{
            text-align: left;
            margin-top: 2%;
            .hr{
                width: 104.8%;
                margin-left: -2.4%;
                margin-top: 1%;
                border-top: 1px solid #70707050;
                border-bottom: 0;
                border-inline: 0;
            }
            h3{
                padding-top: 2%;
                
            }
            h4{
                padding-bottom: 3%;
            }
        }
        &:first-of-type{
            padding-top: 7%;
            figcaption{
                padding-top: 14%;
            }
        }
    }
   }
}
}

//BREAKPOINTS
$x-large: 1300px;
$large: 1300px;
$tablet: 980px;
$mobile: 580px;


@media screen and (max-width: $large) {
    main{
        .Carousel {
            position: absolute;
            top: -5.1vw;
            width: 98.7vw;
        }    
        #cardSection{
        position: absolute;
        top: 17vw;
        gap: 1%;
        width: 100%;
        padding-inline: 2%;
        .Cards{
            margin-left: 5%;
            padding: 5%;
            height: 30vw;
        }
        }
        #ReadyForComments {
            margin-top: 55vw;
        }
        #Employee{
            #EmployeeCardContainer{
                gap: 2%;
                width: 100%;
                padding-inline: 2%;
                .EmployeeCard{
                    figcaption{
                        text-align: center;
                        h3 {
                            padding-top: 5%;
                        }

                        h4 {
                            padding-bottom: 5%;
                        }
                    }
                }
            }
        }
    }
  }
@media screen and (max-width: $tablet) {
  main{
      .Carousel{
          width: 100%;
          top: -1vw;
        }
        #cardSection{
            top: 20vw;
            .Cards{
                height: 33vw;
            }
        }
        #ReadyForComments{
            margin-top: 60vw;
        }
    }
}
@media screen and (max-width: $mobile){
    main{
        position: relative;
    .Carousel{
        height: 50vw;
    }
    #cardSection{
        margin-top: 10%;
        height: fit-content;
        display: grid;
        grid-template-columns: 1fr;
        gap: 0;
        .Cards{
            height: 80vw;
            img{
                width: 100%;
            }
        }
    }
    #ReadyForComments{
        margin-top: 340%;
        h2{
            padding-bottom: 5%;
        }
    }
    #Employee{
        margin: auto;
        h2{
            font-size: 2rem;
        }
        #EmployeeCardContainer{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
    
    }
}