@import '../../../Assets//SCSS/vars.scss';
@import "../../../Assets/SCSS/mixins.scss";

.burgerMenu{
    position: absolute;
    width: 5vw;
    height: 10vw;
    right: 1vw;
    
    @media (width > 1199px){
        display: none;
    }
    .burgerMenuClose{
        display: none;
    }
    
    .burgerMenuHome {
        position: absolute;
        width: 3.5vw;
        height: 7vw;
        color: $headandfoot ;
        background-color: rgba(255, 255, 255, 0);
        transition: .2s ease-in-out;
    }
}
.burgerMenuActive{
    position: absolute;
    width: 4vw;
    height: 5vw;
    right: 1.8vw;
    .burgerMenuHome{
        display: none;
    }
    .burgerMenuClose{
        position: absolute;
        width: 3.5vw;
        height: 7vw;
        color: white;
        background-color: rgba(255, 255, 255, 0);
        transition: .2s ease-in-out;
        z-index: 2;
    }
}

.menu{
    display: none;
}

.activeMenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    list-style: none;
    top: 5vh;
    width: 100%;
    padding: 0 0 1.6vw 1.8;
    background-color: $headandfoot;
    .navigationLinks{
        text-decoration: none;
        color: $background;
        font-size: 1em;
    }
}